<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- system configuration, do not change -->
	<configSections>
		<section name="dataSources" type="Configurations.DataSourcesSection, backup" />
		<section name="dataTargets" type="Configurations.DataTargetsSection, backup" />
	</configSections>

	<!-- system configuration, do not change -->
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	
	<!--
	See http:// ....
	-->
	<dataSources>
		<add provider="mssql" name="sqlexpress" source="Host=.\SQLEXPRESS_2014;Integrated Security=SSPI" exclude="tempdb,master,model,msdb" include="p005,p019" />
		<add provider="postgresql" name="postgre" source="Bin=C:\Program Files\PostgreSQL\9.5\bin;Host=localhost;User=postgres;Password=berni255" exclude="postgres" include="p1350,p1356" />
		<add provider="mysql" name="mysql" source="Bin=C:\Program Files\MySQL\MySQL Server 5.7\bin;Host=localhost;User=root;Password=berni255" exclude="information_schema,performance_schema,mysql,sys" include="test,test2" />
		<add provider="file" name="file" source="C:\Users\mail\Desktop\git" />
	</dataSources>

	<!--
	See http:// ....
	-->
	<dataTargets>
		<add provider="directory" name="local_dropbox" target="c:\users\mail\desktop\backup">
			<strategy provider="days" revisions="7" />
		</add>

		<!--<add provider="dropbox" name="dropbox" target="path=test;token=bT6FSLuey3gAAAAAAAA9hTPA4VGAdcF98pZqzA6ndAf3FSZ1N7nWgIDVypL8IRQM">
			<strategy provider="days" revisions="2" />
		</add>-->

		<!--<add provider="dropbox" name="dropbox" target="path=expectare/Contabo;token=_IhxgxMLkb0AAAAAADH2SEB8zR8-4CvWpY1P4h8uw2f2nK-kzEZ-Vkgn-r_IKYNM">
			<strategy provider="generations" />
		</add>-->
	</dataTargets>

</configuration>