<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- system configuration, do not change -->
	<configSections>
		<section name="dataSources" type="Configurations.DataSourcesSection, backup" />
		<section name="dataTargets" type="Configurations.DataTargetsSection, backup" />
	</configSections>

	<!-- system configuration, do not change -->
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	
	<!--
	See https://github.com/bernik1980/backup/wiki/dataSources
	-->
	<dataSources>
		<add provider="mssql" name="sqlexpress" source="Host=.\SQLEXPRESS_2014;Integrated Security=SSPI" exclude="tempdb,master,model,msdb" />
		<add provider="postgresql" name="postgre" source="Bin=C:\Program Files\PostgreSQL\9.5\bin;Host=localhost;User=postgres;Password=tbd." exclude="postgres" />
		<add provider="mysql" name="mysql" source="Bin=C:\Program Files\MySQL\MySQL Server 5.7\bin;Host=localhost;User=root;Password=tbd." exclude="information_schema,performance_schema,mysql,sys" />
		<add provider="sqlite" name="sqlite" source="tbd." />
		<add provider="file" name="file" source="tbd." />
		<add provider="oracle" name="oracle_test" source="Bin=C:\Oracle\product\12.1.0\dbhome_1\BIN;Host=tbd.;User=tbd.;Password=tbd." />
	</dataSources>

	<!--
	See https://github.com/bernik1980/backup/wiki/dataTargets
	-->
	<dataTargets>
		<add provider="directory" name="external" target="tbd.">
			<strategy provider="days" revisions="7" />
		</add>

		<add provider="dropbox" name="dropbox" target="tbd.">
			<strategy provider="generations" />
		</add>
	</dataTargets>

</configuration>